@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

*{
    font-family: Outfit;
}

select,
input,
textarea {
  border: 1px solid #c2c2c2;
  border-radius: 4px;
  outline: none; /* ye IMPORTANT hai */
}

select:focus,
input:focus,
textarea:focus {
  border: 1.5px solid;
  border-color: #C586A5;
  outline: none;
}

.active{
    background-color: #ffebf5;
    border-color: #c586a5;
}